# Node packages
node_modules

# Bower vendor files
vendor/bower/*

# Example upload files
example/uploads

# Build files
build/
example/
.gitmodules
.grunt/

# Logs
test-results.xml
libpeerconnection.log

# System file types
.DS_Store

# Except these files
!/vendor/bower/vendor.styl
