.mac-menu(
  ng-style="style"
)
  ul
    li.mac-menu-item(
      mac-menu-transclude
      ng-repeat     = "item in items"
      ng-click      = "selectItem($index)"
      ng-class      = "{'active': $index == index}"
      ng-mouseenter = "setIndex($index)"
    )
