.table-container
  .table-header: .table-row
  .table-body-background
  .table-body-wrapper
    .title-column(ng-show="lockTitleColumn")
      .table-row
    .table-body
    .table-body-height
  .table-footer
    .table-row.custom-footer-row
    .table-row.total-footer-row
  .table-transclude(ng-transclude, ng-cloak)
