.mac-table-container.mac-table(ng-style="getTableCss()")
  .mac-table-loader(ng-hide="displayRows"): mac-spinner
  .mac-table-header: .mac-table-row
  .mac-table-body-wrapper
    .mac-title-column(ng-show="opts.lockFirstColumn")
      .mac-table-row
    .mac-table-body(ng-style="getBodyBlockCss()")
    .mac-table-body-height
  .mac-table-footer
    .mac-table-row.custom-footer-row
    .mac-table-row.total-footer-row(ng-style="getBodyBlockCss('total-footer')")
  .mac-table-transclude(ng-transclude, ng-cloak)
