.mac-tag-autocomplete
  ul.tag-list
    li.tag.label(ng-repeat="tag in selected")
      .tag-close(ng-click="selected.splice($index, 1)") &times;
      span.tag-label
    li.tag.input-tag
      mac-autocomplete.text-input.mac-autocomplete(
        ng-model                    = "textInput"
        mac-autocomplete-disabled   = "disabled"
        mac-autocomplete-on-select  = "onSelect(selected)"
        mac-autocomplete-on-success = "onSuccess(data)"
        mac-placeholder             = "placeholder"
        mac-keydown                 = "onKeyDown($event)"
      )
