.mac-tag-autocomplete(ng-click="focusTextInput()")
  ul.mac-tag-list
    li.mac-tag.mac-label(ng-repeat="tag in selected")
      .mac-tag-close(ng-click="selected.splice($index, 1)") &times;
      span.tag-label {{getTagLabel(tag)}}
    li.mac-tag.mac-input-tag(ng-class="{'fullwidth': !selected.length}")
      mac-autocomplete.text-input.mac-autocomplete(
        ng-model                    = "textInput"
        mac-autocomplete-disabled   = "disabled"
        mac-autocomplete-on-select  = "onSelect(selected)"
        mac-autocomplete-on-success = "onSuccess(data)"
        mac-placeholder             = "autocompletePlaceholder"
        ng-keydown                  = "onKeyDown($event)"
      )
