.mac-date-time
  i.mac-icons.mac-icon-time
  input(
    type            = "text"
    mac-placeholder = "placeholder"
    maxlength       = "8"
    ng-model        = "model"
    ng-disabled     = "disabled"
    ng-click        = "clickEvent($event)"
    ng-blur         = "blurEvent($event)"
    ng-keydown      = "keydownEvent($event)"
    ng-keyup        = "keyupEvent($event)"
    mac-time-input
  )
