.mac-date-time
  width        100px
  height       26px
  position     relative
  margin-right 7px

  .mac-icons
    position absolute
    width    13px
    height   13px
    top      8px
    left     6px

  input
    padding 0 0 0 22px
    width   78px
    height  26px
    display block

  &.error
    input
      background #ffe2e2
      border     solid 1px #dea9a9

.close, .close-modal
  width         18px
  height        18px
  border-radius 9px
  display       block
  background    #bdc0c7
  position      relative
  opacity       1

  &:after
    content    ''
    display    block
    width      2px
    height     10px
    background #FFF
    position   absolute
    top        4px
    left       8px
    transform  rotate(45deg)
  &:before
    content    ''
    display    block
    width      2px
    height     10px
    background #FFF
    position   absolute
    top        4px
    left       8px
    transform  rotate(-45deg)

  &:hover
    background #828590

.hide
  display none

.affix
  position fixed
