.date-time
  width        100px
  height       26px
  position     relative
  margin-right 7px

  i
    position absolute
    width    13px
    height   13px
    top      8px
    left     6px

  input
    padding 0 0 0 22px
    width   78px
    height  26px
    display block

  &.error
    input
      background #ffe2e2
      border     solid 1px #dea9a9
