.mac-upload
  position    relative
  height      21px
  line-height 21px
  width       65px
  overflow    hidden
  font-weight bold

  input
    position absolute
    top      0
    left     0
    opacity  0
    cursor   pointer
    padding  0px 0px 100px 200px
