i
  background url(../img/mac-sprite-icons.png) no-repeat
  text-indent -9999px

  &.icon-male
    background-position 0 0
  &.icon-female
    background-position -32px 0
  &.icon-both
    background-position -64px 0
  &.icon-settings
    background-position -96px 0
    opacity 0.6
    &:hover
      opacity 1
  &.icon-clone
    background-position 0 -32px
    opacity 0.6
    &:hover
      opacity 1
  &.icon-detail
    background-position -32px -32px
    opacity 0.5
    &:hover
      opacity 1
  &.icon-search
    background-position -32px -32px
    opacity 0.5
  /*
  &.icon-calendar
    background-position -64px -96px
  &.icon-time
    background-position -96px -96px
  */
  &.icon-e
    background-position 0 -128px
  &.icon-w
    background-position -32px -128px

  //FACEBOOK ICONS
  &.icon-fb-update
    background-position -64px -32px
  &.icon-fb-add
    background-position -96px -32px
  &.fb-nub
    background-position -32px -64px
  &.icon-fb-play
    background-position -64px -64px
  &.icon-fb-like
    background-position -96px -64px
  &.icon-fb-comment
    background-position 0 -64px
