.mac-tag-autocomplete
  border     1px solid #aaaaaa
  background #ffffff

.mac-tag-list
  margin       0px
  padding-left 0px

.mac-tag
  margin        3px
  position      relative
  display       inline-block
  list-style    none
  font-size     13px
  border        1px solid #bfc9e1
  border-radius 3px
  color         #000

  .tag-label
    padding 3px 20px 3px 5px

  .mac-tag-close
    position   absolute
    right      6px
    color      #9da6b7
    cursor     pointer
    top        50%
    margin-top -9.5px

  .mac-tag-input
    padding       3px
    margin        0px
    border        none
    box-shadow    none
    width         100%
    border-radius 3px
