.table-container {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.table-container .table-row {
  clear: both;
  float: left;
}
.table-container .table-row .table-cell {
  text-align: left;
  float: left;
}
.table-container .table-row .table-cell .cell:hover {
  background-color: #f5f5f5;
}
.table-container .table-header .table-row:first-child .cell {
  border-top: 0;
}
.table-container .table-header .cell {
  text-align: left;
  float: left;
  font-weight: bold;
}
.table-container .table-header .cell.ui-sortable-placeholder {
  background-color: #f5f5f5;
}
.table-container .table-body-wrapper {
  overflow-y: auto;
  position: relative;
  width: 100%;
}
.table-container .table-body-wrapper .table-body {
  position: absolute;
}
.table-container .table-body-wrapper .table-body .table-row:nth-child(odd) {
  background-color: #f9f9f9;
}
.table-container .table-body-wrapper .table-body-height {
  position: absolute;
  top: 0px;
  width: 50px;
}
.table-container .table-header:first-child .table-row:first-child .cell:first-child {
  border-top-left-radius: 4px;
}
.table-container .table-header:first-child .table-row:first-child .cell:last-child {
  border-top-right-radius: 4px;
}
.table-container .table-header:last-child .table-row:last-child .cell:first-child,
.table-container .table-body:last-child .table-row:last-child .cell:first-child,
.table-container .table-footer:last-child .table-row:last-child .cell:first-child {
  border-bottom-left-radius: 4px;
}
.table-container .table-header:last-child .table-row:last-child .cell:last-child,
.table-container .table-body:last-child .table-row:last-child .cell:last-child,
.table-container .table-footer:last-child .table-row:last-child .cell:last-child {
  border-bottom-right-radius: 4px;
}
.table-container .table-transclude {
  display: none;
}
