extends layout

block append content
  .row.content
    #nav.span3
      ul.nav.nav-list.docs-sidenav(data-spy="affix", data-offset-top="0")
        li: a(href="#underscore-string")
          i.icon-chevron-right
          | Underscore String Filter
        li: a(href="#pluralize-filter")
          i.icon-chevron-right
          | Pluralize Filter
        li: a(href="#timestamp-filter")
          i.icon-chevron-right
          | Timestamp Filter

    #example.span9(ng-controller='ExampleController')
      section#underscore-string
        @@include("docs/html/filters/underscore.html")
        h3 Example
        .docs-example
          p {{ "this_Is_aTestFor_Underscore_string" | underscoreString: "humanize" }}
          p {{ "Truncating: lorem ipsum dolor sit amet, consectetur adipiscing elit." | underscoreString: "truncate": 42 }}
          p {{ "Pruning: lorem ipsum dolor sit amet, consectetur adipiscing elit." | underscoreString: "prune": 42: "... (show more)" }}
        pre.prettyprint.linenums(ng-non-bindable)
          = '<p>{{ "this_Is_aTestFor_Underscore_string" | underscoreString: "humanize" }}</p>'

      section#pluralize-filter
        @@include("docs/html/filters/pluralize.html")
        h3 Example
        .docs-example
          dl.dl-horizontal
            dt Single
            dd {{"person" | pluralize:1}}
            dt Multiple
            dd {{"person" | pluralize:1500}}
        pre.prettyprint.linenums(ng-non-bindable)
          = '{{"person" | pluralize:1500}}'

      section#timestamp-filter
        @@include("docs/html/filters/timestamp.html")
        h3 Example
        .docs-example
          dl.dl-horizontal
            dt Now - 5 minutes
            dd {{ fiveMinAgo | timestamp }}
            dt Now - 1 day
            dd {{ oneDayAgo | timestamp }}
            dt Now - 3 days
            dd {{ threeDaysAgo | timestamp }}
        pre.prettyprint.linenums(ng-non-bindable)
          = '{{ fiveMinAgo | timestamp }}'
