extends layout

block append content
  .row.content
    #nav.span3
      ul.nav.nav-list.docs-sidenav(data-spy="affix", data-offset-top="0")
        li: a(href="#modal") Modal
        li: a(href="#tooltip") Tooltip
        li: a(href="#mac-click") Mac Click
        li: a(href="#autocomplete") Autocomplete
        li: a(href="#tag-autocomplete") Tag Autocomplete
        li: a(href="#datepicker") Date Picker
        li: a(href="#time-input") Time Input
        li: a(href='#tag-input') Tag Input
        li: a(href='#spinner') Spinner
        li: a(href="#blur") Blur
        li: a(href="#file-upload") File Upload

    #example.span9(ng-controller='ExampleController')

      section#modal
        .page-header: h1 Modal
        h3 Example
        .docs-example
          mac-modal#test-modal(
            keyboard
          )
            .modal-content(ng-controller="modalController")
              h1 Just another modal
          button.btn(
            mac-modal         = "test-modal"
            mac-modal-content = "maGyverSeasonOne"
          ) Show Modal

      section#tooltip
        .page-header: h1 Tooltip
        h3 Example
        .docs-example
          ul.nav.nav-pills
            li: a(href="#", mac-tooltip="Tooltip on top", mac-tooltip-trigger="click") Tooltip on top
            li: a(href="#", mac-tooltip="Tooltip on bottom", mac-tooltip-direction="bottom") Tooltip on bottom
            li: a(href="#", mac-tooltip="Tooltip on left", mac-tooltip-direction="left") Tooltip on left
            li: a(href="#", mac-tooltip="Tooltip on right", mac-tooltip-direction="right") Tooltip on right

      section#mac-click
        .page-header: h1 Mac-click
        h3 Example
        .docs-example
          .btn(mac-click="what()") Button

      section#autocomplete
        .page-header: h1 Autocomplete
        h2 Example
        .docs-example
          mac-autocomplete(
            mac-autocomplete-url         = "autocompleteUrl"
            mac-autocomplete-query       = "q"
            mac-autocomplete-on-success  = "onSuccess(data)"
            mac-autocomplete-placeholder = "'Autocomplete'"
          )

      section#tag-autocomplete
        .page-header: h1 Tag Autocomplete
        h2 Example
        .docs-example
          mac-tag-autocomplete(
            mac-tag-autocomplete-url         = "autocompleteUrl"
            mac-tag-autocomplete-query       = "q"
            mac-tag-autocomplete-selected    = "tagAutocompleteSelected"
            mac-tag-autocomplete-value       = "id"
            mac-tag-autocomplete-label       = "name"
            mac-tag-autocomplete-placeholder = "tagAutocompletePlaceholder"
          )

        h2 Example with autocomplete disabled
        .docs-example
          mac-tag-autocomplete(
            mac-tag-autocomplete-selected    = "tagAutocompleteDisabledSelected"
            mac-tag-autocomplete-placeholder = "tagAutocompletePlaceholder"
            mac-tag-autocomplete-value       = ""
            mac-tag-autocomplete-label       = ""
            mac-tag-autocomplete-disabled
          )

        h2 Example with custom actions on events
        .docs-example
          mac-tag-autocomplete(
            mac-tag-autocomplete-selected    = "tagAutocompleteEvents"
            mac-tag-autocomplete-placeholder = "tagAutocompletePlaceholder"
            mac-tag-autocomplete-value       = "key"
            mac-tag-autocomplete-label       = "key"
            mac-tag-autocomplete-on-enter    = "tagAutocompleteOnSelected(item)"
            mac-tag-autocomplete-events      = "blur,keyup"
            mac-tag-autocomplete-on-blur     = "tagAutocompleteOnBlur($event, item)"
            mac-tag-autocomplete-on-keyup    = "tagAutocompleteOnKeyup()"
            mac-tag-autocomplete-disabled
          )

        button(ng-click="tagAutocompleteClearText()") Clear Text Input

      section#datepicker
        .page-header: h1 Datepicker
        h2 Example
        .docs-example
          mac-datepicker(
            mac-datepicker-id    = "input-start-date"
            mac-datepicker-model = "startDate"
          )

      section#time-input
        .page-header: h1 Time input
        h2 Example
        .docs-example
          mac-time(
            mac-time-id      = "input-start-time"
            mac-time-model   = "myStartTime"
            mac-time-default = "11:59 PM"
          )

      section#tag-input
        .page-header: h1 Tag Input
        p Proxy directive to mac tag autocomplete
        h2 Example
        .docs-example
          mac-tag-input(
            mac-tag-input-tags        = "extraTagInputs"
            mac-tag-input-placeholder = "Select all target countries"
            mac-tag-input-selected    = "selected"
            mac-tag-input-value       = "id"
            mac-tag-input-label       = "name"
          )
      section#spinner
        .page-header: h1 Spinner
        h2 Example
        .docs-example
          mac-spinner

      section#blur
        .page-header: h1 Blur
        h2 Example
        .docs-example
          input(type="text", mac-model-blur="onTextBlur()")

      section#file-upload
        .page-header: h1 File Upload
        h2 Example
        .docs-example.example-hit-area
          form(action="...", method="post", enctype="multipart/form-data", name="upload-example")
            span.mac-upload.btn.fileinput-button
              span Upload
              input(
                type                 = "file"
                name                 = "files[]"
                multiple
                mac-upload
                mac-upload-route      = "uploadRoute"
                mac-upload-success    = "fileUploadSuccess($data, $status)"
                mac-upload-error      = "fileUploadError($response, $data, $status)"
                mac-upload-submit     = "fileUploadSubmit($event, $response)"
                mac-upload-drop-zone  = ".example-hit-area"
                mac-upload-disabled   = "!fileUploaderEnabled"
              )
