!!! 5
html
  head
      meta(charset='utf-8')
      title MacGyver Example
      link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css', rel='stylesheet')
      link(href='css/vendor.css', rel='stylesheet')
      link(href='css/app.css', rel='stylesheet')
      style(type='text/css')
        body {padding: 40px 0px 100px 0px;}
        section {padding-top: 30px;}
  body(ng-app='Mac')
    .container
      .row
        #nav.span2
          ul.nav.nav-tabs.nav-stacked
            li: a(href='#table-view') Table View
            li: a(href='#') Tag Input
            li: a(href='#spinner') Spinner

        #example.span10(ng-controller='ExampleController')

          section
            .page-header: h1 Autocomplete
            h2 Example
            .docs-example
              mac-autocomplete(
                mac-autocomplete-url         = "autocompleteUrl"
                mac-autocomplete-query       = "q"
                mac-autocomplete-on-success  = "onSuccess(data)"
                mac-autocomplete-placeholder = "'Autocomplete'"
              )

          section
            .page-header: h1 Tag Autocomplete
            h2 Example
            .docs-example
              mac-tag-autocomplete(
                mac-tag-autocomplete-url         = "autocompleteUrl"
                mac-tag-autocomplete-query       = "q"
                mac-tag-autocomplete-selected    = "tagAutocompleteSelected"
                mac-tag-autocomplete-value       = "id"
                mac-tag-autocomplete-label       = "name"
                mac-tag-autocomplete-placeholder = "tagAutocompletePlaceholder"
              )

            h2 Example with autocomplete disabled
            .docs-example
              mac-tag-autocomplete(
                mac-tag-autocomplete-url         = "autocompleteUrl"
                mac-tag-autocomplete-query       = "q"
                mac-tag-autocomplete-selected    = "tagAutocompleteDisabledSelected"
                mac-tag-autocomplete-placeholder = "tagAutocompletePlaceholder"
                mac-tag-autocomplete-value       = "key"
                mac-tag-autocomplete-label       = "key"
                mac-tag-autocomplete-disabled    = "true"
                mac-tag-autocomplete-on-enter    = "tagAutocompleteOnSelected(item)"
              )

          section
            .page-header: h1 Datepicker
            h2 Example
            .docs-example
              mac-datepicker(
                mac-datepicker-id    = "input-start-date"
                mac-datepicker-model = "startDate"
              )

          section
            .page-header: h1 Time input
            h2 Example
            .docs-example
              mac-time(
                mac-time-id    = "input-start-time"
                mac-time-model = "startTime"
              )

          section
            .page-header: h1 Table view
            h2 Example
            .docs-example
              .table-view-wrapper(
                mac-table
                mac-table-has-total-footer        = "true"
                mac-table-has-footer              = "true"
                mac-table-data                    = "data"
                mac-table-width                   = "750"
                mac-table-columns                 = "columnOrder"
                mac-table-row-height              = "30"
                mac-table-sortable                = "true"
                mac-table-resizable               = "false"
                mac-table-lock-first-column       = "false"
                mac-table-calculate-total-locally = "true"
                ng-cloak
              )
                .table-header-template
                  .cell(column="Name") Name
                    a.btn(mac-parent-click="createCampaign($event)") Create Campaign
                .table-body-template
                  .cell(column="Name", style="width: 200px") {{row.name}}
                  .cell(column="Clicks") {{row.clicks | number: 0}}
                  .cell(column="CPM") {{row.cpm | number: 4}}
                  .cell(column="CPC") {{row.cpc | number: 4}}
                  .cell(column="Spent", total) {{row.spent | currency}}
                  .cell(column="Created") {{row.created | date: 'mediumDate'}}
                .table-footer-template
                  a.btn(mac-parent-click="loadMoreCampaigns()") Load 20 More Campaigns
                .table-total-footer-template
                  .cell(column="Name") {{ "Campaign" | pluralize: data.length}}
                  .cell(column="Spent") {{ total.spent | currency}}

          section
            .page-header: h1 Tag Input
            h2 Example
            .docs-example
              mac-tag-input(
                mac-tag-input-tags        = "extraTagInputs"
                mac-tag-input-placeholder = "Select all target countries"
                mac-tag-input-selected    = "selected"
                mac-tag-input-value       = "id"
                mac-tag-input-label       = "name"
              )

          section
            .page-header: h1 Spinner
            h2 Example
            .docs-example
              div(mac-spinner)

          section
            .page-header: h1 Blur
            h2 Example
            .docs-example
              input(type="text", mac-model-blur="onTextBlur()")

          section
            .page-header: h1 File Upload
            h2 Example
            .docs-example.example-hit-area
              form(action="...", method="post", enctype="multipart/form-data", name="upload-example")
                span.example-upload-button.btn.fileinput-button
                  span Upload
                  input(
                    type                 = "file"
                    name                 = "files[]"
                    multiple
                    mac-upload
                    mac-upload-route      = "uploadRoute"
                    mac-upload-success    = "fileUploadSuccess($data, $status)"
                    mac-upload-error      = "fileUploadError($response, $data, $status)"
                    mac-upload-submit     = "fileUploadSubmit($event, $response)"
                    mac-upload-enable-on  = "fileUploaderEndabled"
                    mac-upload-drop-zone  = ".example-hit-area"
                  )


    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js', type='text/javascript')
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js", text="text/javascript")
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.js', type="text/javascript")
    script(src='js/vendor.js', type="text/javascript")
    script(src='js/macgyver.js', type="text/javascript")
