!!! 5
html
  head
      meta(charset='utf-8')
      title MacGyver Example
      link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css', rel='stylesheet')
      link(href='css/vendor.css', rel='stylesheet')
      link(href='css/MacGyver.css', rel='stylesheet')

  body(ng-app="Mac", data-spy="scroll", data-target="#nav", data-offset="90")
    .container
      .row
        #nav.span3
          ul.nav.nav-list.docs-sidenav(data-spy="affix", data-offset-top="0")
            li: a(href="#mac-click") Mac Click
            li: a(href="#autocomplete") Autocomplete
            li: a(href="#tag-autocomplete") Tag Autocomplete
            li: a(href="#datepicker") Date Picker
            li: a(href="#time-input") Time Input
            li: a(href='#table-view') Table View
            li: a(href='#tag-input') Tag Input
            li: a(href='#spinner') Spinner
            li: a(href="#blur") Blur
            li: a(href="#file-upload") File Upload
            li: a(href="#underscore-string") Underscore String Filter

        #example.span9(ng-controller='ExampleController')

          section#mac-click
            .page-header: h1 Mac-click
            h3 Example
            .docs-example
              .btn(mac-click="what()") Button

          section#autocomplete
            .page-header: h1 Autocomplete
            h2 Example
            .docs-example
              mac-autocomplete(
                mac-autocomplete-url         = "autocompleteUrl"
                mac-autocomplete-query       = "q"
                mac-autocomplete-on-success  = "onSuccess(data)"
                mac-autocomplete-placeholder = "'Autocomplete'"
              )

          section#tag-autocomplete
            .page-header: h1 Tag Autocomplete
            h2 Example
            .docs-example
              mac-tag-autocomplete(
                mac-tag-autocomplete-url         = "autocompleteUrl"
                mac-tag-autocomplete-query       = "q"
                mac-tag-autocomplete-selected    = "tagAutocompleteSelected"
                mac-tag-autocomplete-value       = "id"
                mac-tag-autocomplete-label       = "name"
                mac-tag-autocomplete-placeholder = "tagAutocompletePlaceholder"
              )

            h2 Example with autocomplete disabled
            .docs-example
              mac-tag-autocomplete(
                mac-tag-autocomplete-selected    = "tagAutocompleteDisabledSelected"
                mac-tag-autocomplete-placeholder = "tagAutocompletePlaceholder"
                mac-tag-autocomplete-value       = ""
                mac-tag-autocomplete-label       = ""
                mac-tag-autocomplete-disabled
              )

            h2 Example with custom actions on events
            .docs-example
              mac-tag-autocomplete(
                mac-tag-autocomplete-selected    = "tagAutocompleteEvents"
                mac-tag-autocomplete-placeholder = "tagAutocompletePlaceholder"
                mac-tag-autocomplete-value       = "key"
                mac-tag-autocomplete-label       = "key"
                mac-tag-autocomplete-on-enter    = "tagAutocompleteOnSelected(item)"
                mac-tag-autocomplete-events      = "blur,keyup"
                mac-tag-autocomplete-on-blur     = "tagAutocompleteOnBlur($event, item)"
                mac-tag-autocomplete-on-keyup    = "tagAutocompleteOnKeyup()"
                mac-tag-autocomplete-disabled
              )

            button(ng-click="tagAutocompleteClearText()") Clear Text Input

          section#datepicker
            .page-header: h1 Datepicker
            h2 Example
            .docs-example
              mac-datepicker(
                mac-datepicker-id       = "input-start-date"
                mac-datepicker-model    = "startDate"
              )

          section#time-input
            .page-header: h1 Time input
            h2 Example
            .docs-example
              mac-time(
                mac-time-id    = "input-start-time"
                mac-time-model = "startTime"
              )

          section#table-view
            .page-header: h1 Table view
            h2 Example
            .docs-example
              .table-view-wrapper(
                mac-table
                mac-table-data            = "data"
                mac-table-width           = "750"
                mac-table-header-height   = "30"
                mac-table-columns         = "columnOrder"
                mac-table-loading         = "loading"
                mac-table-row-auto-height = "true"
                mac-table-resizable
                mac-table-has-footer
                mac-table-sortable
                mac-table-calculate-total-locally
                mac-table-fluid-width
                ng-cloak
              )
                .table-header-template
                  .cell(column="Name") Name
                  .cell(column="anotherName", sort-by="a") Second Column
                .table-body-template
                  .mac-table-row(class="{{'true' | true:'hello'}}")
                    .cell(column="Name", style="width: 200px")
                      a(
                        mac-click       = "loadMoreRows()"
                        mac-click-depth = "5"
                      ) {{row.value.name}}
                    .cell(column="anotherName") {{row.value.a | number: 0}}
                    .cell(column="d") {{row.value.d | number: 4}}
                    .cell(column="c") {{row.value.c | number: 4}}
                    .cell(column="b") {{row.parent.getRandomText()}} {{row.value.b | currency}}
                    .cell(column="Abc") {{row.value.attributes.abc | number:4}}
                    .cell(column="Created") {{row.value.created | date: 'mediumDate'}}
                .table-footer-template
                  a.btn(mac-click="loadMoreRows()") Load 20 More Rows
                .table-total-footer-template
                  .cell(column="Name") {{ "Row" | pluralize: data.length}}
                  .cell(column="b") {{ total.b | currency}}

          section#tag-input
            .page-header: h1 Tag Input
            p Proxy directive to mac tag autocomplete
            h2 Example
            .docs-example
              mac-tag-input(
                mac-tag-input-tags        = "extraTagInputs"
                mac-tag-input-placeholder = "Select all target countries"
                mac-tag-input-selected    = "selected"
                mac-tag-input-value       = "id"
                mac-tag-input-label       = "name"
              )
          section#spinner
            .page-header: h1 Spinner
            h2 Example
            .docs-example
              div(mac-spinner)

          section#blur
            .page-header: h1 Blur
            h2 Example
            .docs-example
              input(type="text", mac-model-blur="onTextBlur()")

          section#file-upload
            .page-header: h1 File Upload
            h2 Example
            .docs-example.example-hit-area
              form(action="...", method="post", enctype="multipart/form-data", name="upload-example")
                span.mac-upload.btn.fileinput-button
                  span Upload
                  input(
                    type                 = "file"
                    name                 = "files[]"
                    multiple
                    mac-upload
                    mac-upload-route      = "uploadRoute"
                    mac-upload-success    = "fileUploadSuccess($data, $status)"
                    mac-upload-error      = "fileUploadError($response, $data, $status)"
                    mac-upload-submit     = "fileUploadSubmit($event, $response)"
                    mac-upload-drop-zone  = ".example-hit-area"
                    mac-upload-disabled   = "!fileUploaderEnabled"
                  )

          section#underscore-string
            .page-header: h1 Underscore String
            h2 Example
            .docs-example
              p {{ "this_Is_aTestFor_Underscore_string" | underscoreString: "humanize" }}
              p {{ "Truncating: lorem ipsum dolor sit amet, consectetur adipiscing elit." | underscoreString: "truncate": 42 }}
              p {{ "Pruning: lorem ipsum dolor sit amet, consectetur adipiscing elit." | underscoreString: "prune": 42: "... (show more)" }}

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js', type='text/javascript')
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js", text="text/javascript")
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.js', type="text/javascript")
    script(src="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js", type="text/javascript")
    script(src='js/vendor.js', type="text/javascript")
    script(src='js/macgyver.js', type="text/javascript")
