extends layout

block append content
  .row.content
    #example.span12(ng-controller='ExampleController')
      section#table-view
        h2 Example
        .docs-example
          h3 MacTable
          table.table.mac-table-default(
            mac-table
            mac-table-columns="dynamic"
            mac-table-resizable-columns=""
            mac-table-reorderable-columns=""
          )
            thead(mac-table-section="header", mac-table-section-blank-row)
              tr(mac-table-row)
                th(mac-cell-template="No.", mac-column-width="5%")
                  span {{cell.column.colName}}

                th(mac-cell-template="Title", mac-column-width="35%")
                  span {{cell.column.colName}}

                th(mac-cell-template="", mac-column-width="auto")
                  span {{cell.column.colName}}

            tbody(mac-table-section="body", mac-table-section-models="macGyverSeasonOne")
              tr(mac-table-row)
                td(mac-cell-template="")
                  span {{cell.value()}}

        pre.prettyprint.linenums(ng-non-bindable)
          = '<table mac-table  mac-table-columns="dynamic" mac-table-resizable-columns mac-table-reorderable-columns class="table mac-table-default">\n'
          = '  <thead mac-table-section="header" mac-table-section-blank-row>\n'
          = '    <tr mac-table-row>\n'
          = '      <th mac-cell-template="No." mac-column-width="5%"><span>{{cell.colName}}</span></th>\n'
          = '      <th mac-cell-template="Title" mac-column-width="35%"><span>{{cell.colName}}</span></th>\n'
          = '      <th mac-cell-template="" mac-column-width="auto"><span>{{cell.colName}}</span></th>\n'
          = '    </tr>\n'
          = '  </thead>\n'
          = '  <tbody mac-table-section="body" mac-table-section-models="macGyverSeasonOne">\n'
          = '    <tr mac-table-row>\n'
          = '      <td mac-cell-template=""><span>{{cell.value()}}</span></td>\n'
          = '    </tr>\n'
          = '  </tbody>\n'
          = '</table>\n'
